body #stwf--root {
	position: absolute;
	bottom: 0;
	right: 0;
	top: 0;
	max-height: unset;
	max-width: unset;
	width: calc((100vw - var(--sheldWidth)) / 2);
	transition: calc(1ms * var(--stcdx--transitionTime));
	background-color: var(--SmartThemeBlurTintColor);
	display: flex;
	flex-direction: column;

	> .stwf--actions {
		display: flex;
		justify-content: flex-end;
		align-items: baseline;
		gap: 1em;
		> .stwf--controls {
			display: flex;
			justify-content: flex-end;
			align-items: baseline;
			gap: 1em;
			font-size: x-small;
			> label {
				display: flex;
				white-space: nowrap;
				align-items: baseline;
				gap: 0.5em;
				input[type="number"] {
					width: 5em;
					height: auto;
					padding: 1px;
					font-size: inherit;
				}
			}
		}
	}

	> .stwf--chart {
		flex: 0 0 auto;
		/* background-color: whitesmoke; */
	}

	> .stwf--list {
		flex: 1 1 auto;
		overflow: auto;
		> .stwf--item {
			opacity: 0.5;
			transition: 200ms;
			cursor: pointer;
			&.stwf--selected {
				color: var(--SmartThemeQuoteColor);
			}
			&:hover {
				opacity: 1;
			}
		}
	}
}

.stwf--common {
	text-align: left;
	> .stwf--item {
		cursor: pointer;
		opacity: 0.75;
		transition: 200ms;
		&:hover {
			opacity: 1;
		}
	}
}
